:root {
    --background: #080808;
    --selection: #33323233;
    --text: #ced4da;
    --texthov: #fff;
    --accent: #653d3b9e;
    --icons: #ced4da;
}

@font-face {
    font-family: 'j';
    font-weight: 400;
    src: url(/assets/fonts/SpaceMono-Regular.ttf);
    font-display: swap;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::selection {
    background-color: var(--selection);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent);
}

* {
    font-family: 'j';
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1,span {
    font-weight: 400;
    color: var(--text);
}

.lnk {
    text-decoration: none;
    color: var(--text);
    transition: .6s ease-in-out;
}

.lnk:hover {
    color: var(--texthov);
}

a {
    margin: 0 10px 0 10px;
    text-decoration: none;
}

body {
    background-color: var(--background);
    background-image: url(/assets/svg/topography.svg);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

i {
    font-style: normal;
    font-size: 24px;
    padding-left: .2rem;
    padding-right: .2rem;
}

.fa-brands {
    color: var(--icons);
    transition: .3s ease-in;
}

.fa-brands:hover {
    color: var(--accent);
}

.terrorist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid var(--accent);
    border-radius: 6px;
    padding: 16px;
    margin: 96px 32px;
    max-width: 100%;
    min-width: 200px;
}

@font-face {
    font-family: 'Font Awesome 6 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src:
        url(/assets/fonts/fa-brands-400.woff2) format('woff2'), 
        url(/assets/fonts/fa-brands-400.ttf) format('truetype')
}

.fa-brands {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
}

.telegram:before {
    content: '\f2c6';
}

.instagram:before {
    content: '\f16d';
}

.github:before {
    content: '\f09b';
}

.tiktok:before {
    content: '\e07b';
}

.twitter:before {
    content: '\f099';
}

.discord:before {
    content: '\f392';
}